:host {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px; // Standard toolbar height
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  z-index: 1000;
  padding: 0 24px;
  box-sizing: border-box;
}

.topbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.title {
  font-size: 20px;
  font-weight: 500;
}
