<div class="topbar-content">
  <div class="controls" >
  <img src="assets/ragatouille_logo1_sm.png" height="32" width="32" alt="logo">
    <span class="title"> Ragatool </span>

    <button mat-button class="menu-button" (click)="openAddCollectionDialog()">
      <mat-icon>add</mat-icon>
      Add Collection
    </button>

     <button mat-button class="menu-button" (click)="settings_click()">
      <mat-icon>settings</mat-icon>
      Settings
    </button>

  </div>

<div>
    <button #taskCenterButton mat-button class="menu-button" 
        (click)="openTaskCenter()"
        matTooltip="TaskCenter" >
      <mat-icon [matBadge]="taskCount" [matBadgeHidden]="(taskCount < 1)">notifications</mat-icon>
    </button>

    <mat-slide-toggle [checked]="isMcpEnabled" (change)="onToggleChange($event)">MCP ON</mat-slide-toggle>
  </div>

</div>
