<div class="topbar-content">
  <div class="controls" >
  <img src="assets/ragatouille_logo1_sm.png" height="32" width="32" alt="logo"> 
    <span class="title"> Ragatouille   </span>

    <button mat-button class="menu-button" (click)="openAddCollectionDialog()">
      <mat-icon>add</mat-icon>
      Add Collection
    </button>

     <button mat-button class="menu-button" (click)="settings_click()">
      <mat-icon>settings</mat-icon>
      Settings
    </button>

  </div>
  
  
    <mat-slide-toggle (change)="onToggleChange($event)">MCP ON</mat-slide-toggle>
  
</div>
