<mat-list>
    @for (collection of collections; track collection.id) {
        <mat-list-item (click)="selectCollection(collection.id)">
            
                
                <!-- Visual marker for enabled/disabled state -->
                <span matListItemTitle mat-line>
                    <span
                        class="collection-status-marker"
                        [ngClass]="{
                            'enabled': collection.enabled,
                            'disabled': !collection.enabled
                        }"
                        [matTooltip]="collection.enabled ? 'Enabled' : 'Disabled'">
                    </span> 
                
                    {{collection.name}}
                </span>

        </mat-list-item>
    }
</mat-list>

<!-- Divider and Extension Tools List -->
@if (connectedExtensions.length > 0) {
  <mat-divider></mat-divider>
  <h3>Connected Extension Tools</h3>
  <mat-list>
    @for (tool of connectedExtensions; track tool.client_id) {
      <mat-list-item (click)="selectExtensionTool(tool.client_id)">
        <span matListItemTitle>{{ tool.application_name }}</span>
        <span matListItemLine>{{ tool.user_entity_name }}</span>
      </mat-list-item>
    }
  </mat-list>
}