
@if (collectionDetails) {
  <div>
    <p>Collection Details</p>
    <div class="details">
      <div>  
          <p>ID: {{ collectionDetails.id }}</p>
          
          @if (collectionDetails.count) {
            <p>Count: {{ collectionDetails.count }}</p>           
          }
          
          @if (collectionDetails.metadata) {
             <p>Metadata:</p>
            
              @for (item of collectionDetails.metadata | keyvalue; track item.key) {
                 <p>{{ item.key }}: {{ item.value }}</p>
              }
          }
        
      </div>
      <div>
          <p>Model: {{ collectionDetails.model }}</p>
          <p>Settings: {{ collectionDetails.settings }}</p>
      </div>
    </div>
  </div>
}
