.settings-container {
    padding: 24px;
}

.setting-item {
    margin-bottom: 12px;
}

.setting-description {
    margin-top: 16px;
    font-size: 14px;
    color: #666;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 24px;
}