<div class="container-margin">
  @if (data.twoStepImport){
    <h1 mat-dialog-title>1. Load URL to {{ data.collectionName }}'s temp files</h1>
  }
  @else {
   <h1 mat-dialog-title>Import from URL to {{ data.collectionName }}</h1>
  }

  <div mat-dialog-content>
    <form class="import-form" [formGroup]="importForm" (ngSubmit)="onImportSubmit()">
      <div class="row1">
        <mat-form-field appearance="fill" class="url-input">
          <mat-label>URL</mat-label>
          <input matInput formControlName="url" placeholder="Enter URL">
          @if (importForm.get('url')?.hasError('required') && importForm.get('url')?.touched) {
            <mat-error>
              URL is required.
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="row2">
        <div class="parameters">
          <mat-form-field appearance="fill" >
            <mat-label>Model</mat-label>
            <input matInput formControlName="model" placeholder="Enter model name">
            @if (importForm.get('model')?.hasError('required') && importForm.get('model')?.touched) {
              <mat-error>
                Model is required.
              </mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill" >
            <mat-label>Chunk Size</mat-label>
            <input matInput type="number" formControlName="chunkSize" placeholder="Enter chunk size">
            @if (importForm.get('chunkSize')?.hasError('required') && importForm.get('chunkSize')?.touched) {
              <mat-error>
                Chunk size is required.
              </mat-error>
            }
            @if (importForm.get('chunkSize')?.hasError('min') && importForm.get('chunkSize')?.touched) {
              <mat-error>
                  Chunk size must be at least 1.
              </mat-error>
            }
          </mat-form-field>
  
          <mat-form-field appearance="fill">
            <mat-label>Chunk Overlap</mat-label>
            <input matInput type="number" formControlName="chunkOverlap" placeholder="Enter chunk overlap">
            @if (importForm.get('chunkOverlap')?.hasError('required') && importForm.get('chunkOverlap')?.touched) {
              <mat-error>
                Chunk overlap is required.
              </mat-error>
            }
            @if (importForm.get('chunkOverlap')?.hasError('min') && importForm.get('chunkOverlap')?.touched) {
              <mat-error>
               Chunk overlap must be at least 0.
              </mat-error>
            }
          </mat-form-field>
        </div>
        
      </div>
      <div class="row3">
           <mat-checkbox formControlName="no_chunks">No chunks</mat-checkbox>
        </div>
        <div class="row4-with-filter">
      <mat-checkbox formControlName="filterEnabled" class="filter-checkbox">Enable URL Filtering</mat-checkbox>
      <mat-form-field appearance="fill" class="url-filter-regex-input" >
        <mat-label>URL Filter Regex</mat-label>
        <input matInput formControlName="urlFilterRegex" placeholder="Enter regular expression">
        @if (importForm.get('urlFilterRegex')?.hasError('invalidRegex') && importForm.get('urlFilterRegex')?.touched) {
          <mat-error>
            Invalid regular expression format.
          </mat-error>
        }
        @if (importForm.get('urlFilterRegex')?.hasError('required') && importForm.get('urlFilterRegex')?.touched) {
          <mat-error>
            URL Filter Regex is required when enabled.
          </mat-error>
        }
      </mat-form-field>
    </div>
    </form>
    
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button color="primary" [disabled]="importForm.invalid || showProgressBar()" (click)="onImportClick()">{{data.twoStepImport ? "Load" : "Import" }}</button>
  </div>
 
</div>
