.url-input {
  width: 100%;
}

.import-form {
  display: grid;
  grid: 50px auto / auto;
  grid-gap: 36px; // Space between form fields

  .row1{
    grid-row: 1;
    display: flex;
    flex-direction: column;
  }

  .row2{
    grid-row: 2;
    display: grid;
    grid-gap: 16px;
  }

  .row3{
    grid-row: 3;
  }

  .row4-with-filter {
    grid-row: 4;
    display: flex;
    align-items: center;
    gap: 16px; // Adjust gap as needed
  }

  .url-filter-regex-input {
    flex-grow: 1; // Allow the input to take available space
    margin-left: 20px;
    width: 400px;
  }

  .parameters{
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 80px;
  }


  .file-input-container {
    display: flex;
    align-items: center;
    gap: 8px; // Space between button and file name
  }

  .file-name {
    font-style: italic;
    color: #555;
  }
}