.import-form {
  display: grid;
  grid: 150px / auto auto;
  grid-gap: 16px; // Space between form fields

  .column1{
    grid-column: 1;
    display: flex;
    flex-direction: column;
  }

  .column2{
    grid-column: 2;
    display: grid;
    grid-gap: 16px;
  }

  .parameters{
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 80px;
  }


  .file-input-container {
    display: flex;
    align-items: center;
    gap: 8px; // Space between button and file name
  }

  .file-name {
    font-style: italic;
    color: #555;
  }
}