<div>
  <div class="inner-table">
    <form class="import-controls" [formGroup]="importForm">
      <mat-form-field appearance="fill" class="import-control">
        <mat-label>Select Import Type</mat-label>
        <mat-select formControlName="importType" 
        [compareWith]="compareImportTypes" 
        (selectionChange)="onImportTypeChange($event)" 
        data-testid="import-select"
        >
          @for (type of importTypes; track type.name) {
          <mat-option [value]="type">{{ type.name }}</mat-option>
        }
        </mat-select>
        @if (importForm.get('importType')?.hasError('required') && importForm.get('importType')?.touched) {
        <mat-error>
          Import type is required.
        </mat-error>
        }

      </mat-form-field>

      <button mat-raised-button type="button" class="import-control" color="accent" (click)="openSelectedImportDialog()" [disabled]="!importForm.get('importType')?.value" data-testid="import-button">Import</button>
    </form>

      <app-collection-details [collectionDetails]="collectionDetails()"></app-collection-details>

  </div>
 @if (showProgressBar()) {
    <div class="import-progress-bar" data-testid="import-progress-bar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      <p>{{ infoString() }}</p>
    </div>
  }
</div>
