<div>
  <div class="inner-table">
    <form class="import-controls" [formGroup]="importForm">
      <mat-form-field appearance="fill" class="import-control">
        <mat-label>Select Import Type</mat-label>
        <mat-select formControlName="importType" 
        [compareWith]="compareImportTypes" 
        (selectionChange)="onImportTypeChange($event)" 
        data-testid="import-select"
        >
          @for (type of importTypes; track type.name) {
          <mat-option [value]="type">{{ type.name }}</mat-option>
        }
        </mat-select>
        @if (importForm.get('importType')?.hasError('required') && importForm.get('importType')?.touched) {
        <mat-error>
          Import type is required.
        </mat-error>
        }

      </mat-form-field>

      @if (!twoStepImport()){
        <button mat-raised-button type="button" class="import-control" color="accent" (click)="openSelectedImportDialog()" [disabled]="!importForm.get('importType')?.value" data-testid="import-button">Import</button>
      }
      @else {
         <button mat-raised-button type="button" class="import-control" color="accent" (click)="openSelectedImportDialog()" [disabled]="!importForm.get('importType')?.value || showProgressBar() || task()" data-testid="import-step-1-button">1. Load to files</button>
        @if (filesImported)
        {
            <button mat-raised-button type="button" class="import-control" color="accent" (click)="openPreviewDialog()" [disabled]="!importForm.get('importType')?.value || showProgressBar() || task()" data-testid="import-step-2-button">2. Review and vectorize</button>
        }
          
        <button mat-raised-button type="button" class="import-control" color="accent" (click)="onDeleteFiles()" [disabled]="!filesImported || showProgressBar() || task()" data-testid="delete-button">Delete Files</button>
      }
      
    </form>

      <app-collection-details 
        [collectionDetails]="collectionDetails()" 
        [filesImported]="filesImported">
      </app-collection-details>

  </div>
 @if (showProgressBar() && task() !== undefined) {
    <div class="import-progress-bar" data-testid="import-progress-bar">
      <div class="progressbar-line">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        <button mat-icon-button (click)="cancelTask(task()!.id)" >
            <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <p>
        <span [ngStyle]="{'color': task()!.status === 'RUNNING' ? 'green' : 'red'}">
            {{ task()!.status | uppercase }}
         </span> 
         {{ infoString() }}
      </p>
    </div>
  }
</div>
