<div class="selected-collection-container" *ngIf="activeType" data-testid="selected-item-container">
  @if (activeType === 'collection') {
    <div class="details margin-16">
      <h2 data-testid="collection-name">{{ collection?.name }}</h2>

      <div class="description-container">
        @if (!isEditingDescription)
        {
          <div class="description-container" data-testid="description-view">
            @if (collection?.description){
              <span data-testid="collection-description">{{ collection?.description }}</span>
            }@else {
              <span class="gray" data-testid="collection-description-empty">no description</span>
            }
            <button mat-icon-button (click)="startEditingDescription()" data-testid="edit-description-button">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        }@else{
        <div data-testid="description-edit">
          <mat-form-field class="full-width">
            <textarea matInput [(ngModel)]="editedDescription" data-testid="description-textarea"></textarea>
          </mat-form-field>
          <button mat-button (click)="saveDescription()" data-testid="save-description-button">Save</button>
          <button mat-button (click)="cancelEditingDescription()" data-testid="cancel-description-button">Cancel</button>
        </div>
        }
      </div>
    </div>

    <div class="controls margin-8" data-testid="collection-controls">
      <mat-slide-toggle [(ngModel)]="isEnabled" (change)="onToggleChange()" data-testid="enabled-toggle">Enabled</mat-slide-toggle>
      <button mat-icon-button color="warn" (click)="deleteCollection()" data-testid="delete-collection-button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div class="full-row margin-16">
      <app-selected-collection-import
        [collection]="collection!"
        [collectionDetails]="collectionDetails"
        [filesImported]="(collectionFiles()?.length ?? 0) > 0"
        data-testid="collection-import"
        class="selected-collection"></app-selected-collection-import>
    </div>

    <div class="full-row-2 margin-16">
      <app-logs-view [collectionId]="collection!.id" data-testid="collection-logs"></app-logs-view>
    </div>
  } @else if (activeType === 'extension-tool') {
    <app-extension-tool-details [toolId]="selectedId"></app-extension-tool-details>
  }
</div>