name: Backend Tests

on:
  pull_request:
    paths:
      - 'backend/**'
  push:
    branches:
      - '**'
    paths:
      - 'backend/**'
  workflow_dispatch: # Allows manual triggering from the Actions tab

jobs:
  pytest:
    name: Run Pytest
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.13
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip' # caching pip dependencies

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # App Core
          pip install fastembed beautifulsoup4 fastapi uvicorn 
          pip install chromadb fastmcp python-multipart
          pip install langchain_community pypdf docx2txt trafilatura
          pip install langchain-text-splitters python-dotenv httpx
          # Testing Essentials
          pip install pytest pytest-asyncio

      - name: Run Pytest
        run: |
          pytest
